<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-left: 5rem;">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      ></a
    >
    <!-- This button is supposed to collapse the navbar
        <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    > 
      <span class="navbar-toggler-icon"></span>
    </button>
-->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul
        *ngIf="loggedUser; else authNav"
        class="navbar-nav mr-auto mt-2 mt-lg-0"
      >

      <p class="navbar"> Welcome {{ loggedUser.username }}</p>
        <li class="nav-item">
          <a class="nav-link" routerLink="/classroom" routerLinkActive="active">
            <span>Classroom</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/messaging" routerLinkActive="active">
            <span>MESSAGE</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()" routerLinkActive="active">
            <span>LOG OUT</span>
          </a>
        </li>
      </ul>
  
      <ng-template #authNav>
        
        <div class="form-inline">
          <div class="form-group">
            <label for="user"></label>
            <input id="user" name="user" type="text" placeholder="Username" class="form-control" [(ngModel)]="user" />
          </div>
          <div class="form-group">
            <label for="pass"></label>
            <input id="pass" name="pass" type="password" placeholder="Password" class="form-control" [(ngModel)]="pass" />
            <button type="button" class="btn btn-primary" id="loginBtn" (click)="logIn()">Log In</button>
          </div>
        </div>
         
      </ng-template>
  
    </div>
  </nav>
