.stars {
    float: left;
    overflow: hidden;
    width: 100%;
  }
  .stars input[type=radio]:checked ~ label:after {
    background: blue;
  }
  .stars input[type=radio] {
    display: none;
  }
  .stars input[type=radio]:first-child + label {
    padding-right: 0;
  }
  .stars:hover input[type=radio]:checked ~ label:after,
  .stars label:after {
    background: green;
  }
  .stars label {
    box-sizing: border-box;
    width: 20%;
    padding-right: 2%;
    height: 120px;
    float: right;
    cursor: pointer;
  }
  .stars label:after {
    display: block;
    content: "";
    height: 120px;
    width: 100%;
    float: right;
    transition: all 0.25s;
    background: green;
  }
  .stars label:hover:after,
  .stars label:hover ~ label:after {
    background: gold !important;
  }