<div *ngIf="hasFlag || roleFlag">
    <h2>Write a message!</h2>
  <form>
      <div class="field">
        <textarea class="textarea" name="message" placeholder="Enter your message." [(ngModel)]="message"></textarea>
      </div>
      <div class="field">
          <textarea class="textarea" name="target" placeholder="Enter recipient id." [(ngModel)]="target"></textarea>
      </div>
  </form>
  <button type="submit" class="button is-danger is-large" (click)=onSubmit()>Submit</button>
</div>
<div *ngIf = "roleFlag">
    <h2>
        <table>
            <tr>
                <th>User ID</th>
                <th>Username</th>
            </tr>
            <tr class="w3-2" *ngFor="let User of Users">
                <td>{{ User.id | json}}</td>
                <td>{{( User.username | json).replace("\"", "").replace("\"", "") | titlecase}}</td>
            </tr>
        </table>
    </h2>
</div>