<div ng-if="hasFlag">
    <h3>Messages</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Date sent</th>
            <th>Sender</th>
            <th>Message</th>
        </tr>
        <tr *ngFor="let Message of Messages">
            <td>{{ Message.message_id | json}}</td>
            <td>{{ Message.message_date.month | json).replace("\"", "").replace("\"", "") | titlecase}} {{Message.message_date.dayOfMonth | json}}, {{Message.message_date.year | json}}</td>
            <td>{{ Message.writer.name | json}}</td>
            <td>{{ Message.content | json}}</td>
        </tr>
    </table>
</div>
<div ng-if="authFlag">
    <h2>Write a message!</h2>
  <form>
      <div class="field">
        <textarea class="textarea" name="message" placeholder="Enter your message." [(ngModel)]="message"></textarea>
      </div>
      <div class="field">
          <textarea class="textarea" name="target" placeholder="Enter recipient id." [(ngModel)]="target"></textarea>
      </div>
  </form>
  <button type="submit" class="button is-danger is-large" (click)=onSubmit()>Submit</button>
</div>
<div ng-if="authFlag">
    <h2>
        <table>
            <tr>
                <th>User ID</th>
                <th>Username</th>
            </tr>
            <tr *ngFor="let User of Users">
                <td>{{ User.id | json}}</td>
                <td>{{ User.Username | json}}</td>
            </tr>
        </table>
    </h2>
</div>